.main {
  &__top {
    margin-bottom: 30px;
  }

  &__bottom {}

  &__title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
  }
}

.products {

    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
}


.current-product {
  &_title_wrap {
    display: flex;
    align-items: baseline;

    & mat-card-title {
      margin-left: 5px;
    }
  }

  &_item {
    background: #f1f1f1;
    min-width: 140px;
    padding: 7px 12px 5px;
    border-radius: 20px;
    text-align: center;
    margin-right: 20px;
  }
}
