.status_page {
    max-width: 50%;
    height: 200px;
    display: flex;
    flex-direction: row;
    
}

.status_info {

}

.status_lastOrder {

}

.status_activeOrder {

}

.status_order {

}

.status_history {

}