.dialog {
  &__top {
    position: relative;
    background-color: #3f51b5;
    width: 100%;
    color: #fff;
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 10px;

    &:hover {
      cursor: pointer;
    }
  }
}
